/*
  global
 */

body {
  font-family: Doris, Georgia, serif;
  background-color: #ffffff;
  color: #555555;
  font-weight: 300;
  font-size: 1.75em;
}

section {
  padding: 50px;
}

/*
  header
 */

header {
  width: 100%;
  height: 50px;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 999;
  font-size: small;
  border-top: 4px solid #ED8632;
  border-bottom: 1px dashed lightgray;
}

header p {
  padding-top: 12px;
}

/*
  article
 */

article > img {
  width: 100%;
  margin-bottom: 10px;
}
article .date {
  position: absolute;
  margin-left: -95px;
  border-right: 1px dotted lightgray;
  padding-top: 6px;
  width: 70px;
  font-weight: 400;
  padding-bottom: 20px;
  font-family: Vollkorn, Georgia, serif;
  text-align: center;
}

article .date .month {
  font-size: 18px;
  line-height: 15px;
  display: block;
  text-transform: uppercase;
}

article .date .day {
  font-size: 30px;
  line-height: 32px;
  display: block;
}

article .date .year {
  font-size: 15px;
  line-height: 15px;
  display: block;
}

/*
  author
 */

.author-photo {
  max-width: 220px;
  /*padding-top: 20px;
  margin: 20px 0px;;*/
}

/*
  footer
 */

 footer {
  border-top: 4px solid #ED8632;
  background-color: #323333;
  color: #aaaaaa;
  padding: 20px;
 }
